.componentBody {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50.5vw;
  height: 50.5vw;
  font-size: 2px;  
}

.backgroundUnit {
  height: .5vw;
  width: .5vw;
  /* margin: -.5px; */
  background-color: lightblue;
  /* border: .5px solid black; */
}

.branchUnit {
  height: .5vw;
  width: .5vw;
  /* margin: -.5px; */
  background-color: rgb(67, 23, 13);
  /* border: .5px solid black; */
}

.lightBranchUnit {
  height: .5vw;
  width: .5vw;
  /* margin: -.5px; */
  background-color: rgb(145, 53, 37);
  /* border: .5px solid black; */
}

.leafUnit {
  height: .5vw;
  width: .5vw;
  /* margin: -.5px; */
  background-color: lightgreen;
  /* border: .5px solid black; */
}