.componentBody {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50.5vw;
  height: 50.5vw;
  font-size: 2px;  
}

.backgroundUnit {
  height: .5vw;
  width: .5vw;
  margin: -.5px;
  background-color: lightblue;
  border: .5px solid black;
}

.branchUnit {
  height: .5vw;
  width: .5vw;
  margin: -.5px;
  background-color: brown;
  border: .5px solid black;
}

.leafUnit {
  height: 1vw;
  width: 1vw;
  margin: -1px;
  background-color: lightgreen;
  border: 1px solid black;
}